torch>=1.6
pytorch-lightning>=1.5.0
torchmetrics>=0.7
python-gdcm
pydicom
matplotlib
pandas>1.0
monai>=0.7.0
rising>=0.2.1  # loading / augmentation
torchsummary
https://github.com/Borda/MedicalNet/archive/refs/heads/master.zip
opencv-python-headless
